		<!-- Header -->
<div class="header">
	<div class="main-header">
		<!-- Logo -->
		<div class="header-left active">
			<a href="@Url.Action("Index", "Home")" class="logo logo-normal">
				<img src="~/assets/img/logo.svg" alt="Img">
			</a>
			<a href="@Url.Action("Index", "Home")" class="logo logo-white">
				<img src="~/assets/img/logo-white.svg" alt="Img">
			</a>
			<a href="@Url.Action("Index", "Home")" class="logo-small">
				<img src="~/assets/img/logo-small.png" alt="Img">
			</a>
		</div>
		<!-- /Logo -->
		<a id="mobile_btn" class="mobile_btn" href="#sidebar">
			<span class="bar-icon">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</a>

		<!-- Header Menu -->
		<ul class="nav user-menu">

			<!-- Search -->
			<li class="nav-item nav-searchinputs">
				<div class="top-nav-search">
					<a href="javascript:void(0);" class="responsive-search">
						<i class="fa fa-search"></i>
					</a>
					<form action="#" class="dropdown">
						<div class="searchinputs input-group dropdown-toggle" id="dropdownMenuClickable" data-bs-toggle="dropdown" data-bs-auto-close="outside">
							<input type="text" placeholder="Search">
							<div class="search-addon">
								<span><i class="ti ti-search"></i></span>
							</div>
							<span class="input-group-text">
								<kbd class="d-flex align-items-center"><img src="~/assets/img/icons/command.svg" alt="img" class="me-1">K</kbd>
							</span>
						</div>
						<div class="dropdown-menu search-dropdown" aria-labelledby="dropdownMenuClickable">
							<div class="search-info">
								<h6>
									<span><i data-feather="search" class="feather-16"></i></span>Recent Searches
								</h6>
								<ul class="search-tags">
									<li><a href="javascript:void(0);">Members</a></li>
									<li><a href="javascript:void(0);">Trainers</a></li>
									<li><a href="javascript:void(0);">Sessions</a></li>
								</ul>
							</div>
							<div class="search-info">
								<h6><span><i data-feather="help-circle" class="feather-16"></i></span>Help</h6>
								<p>How to add a new member to the system</p>
								<p>How to schedule a training session</p>
							</div>
							<div class="search-info">
								<h6><span><i data-feather="user" class="feather-16"></i></span>Quick Links</h6>
								<ul class="customers">
									<li><a href="@Url.Action("Index", "Member")">Members<img src="~/assets/img/profiles/avator1.jpg" alt="Img" class="img-fluid"></a></li>
									<li><a href="@Url.Action("Index", "Trainer")">Trainers<img src="~/assets/img/profiles/avatar-01.jpg" alt="Img" class="img-fluid"></a></li>
									<li><a href="@Url.Action("Index", "Session")">Sessions<img src="~/assets/img/profiles/avatar-10.jpg" alt="Img" class="img-fluid"></a></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</li>
			<!-- /Search -->

			<li class="nav-item dropdown link-nav">
				<a href="javascript:void(0);" class="btn btn-primary btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
					<i class="ti ti-circle-plus me-1"></i>Add New
				</a>
				<div class="dropdown-menu dropdown-xl dropdown-menu-center">
					<div class="row g-2">
						<div class="col-md-2">
							<a href="@Url.Action("Create", "Member")" class="link-item">
								<span class="link-icon">
									<i class="ti ti-users"></i>
								</span>
								<p>Member</p>
							</a>
						</div>
						<div class="col-md-2">
							<a href="@Url.Action("Create", "Trainer")" class="link-item">
								<span class="link-icon">
									<i class="ti ti-user-check"></i>
								</span>
								<p>Trainer</p>
							</a>
						</div>
						<div class="col-md-2">
							<a href="@Url.Action("Create", "Session")" class="link-item">
								<span class="link-icon">
									<i class="ti ti-calendar-event"></i>
								</span>
								<p>Session</p>
							</a>
						</div>
						<div class="col-md-2">
							<a href="@Url.Action("Create", "Membership")" class="link-item">
								<span class="link-icon">
									<i class="ti ti-id"></i>
								</span>
								<p>Membership</p>
							</a>
						</div>
					</div>
				</div>
			</li>


			<!-- Flag -->
			<li class="nav-item dropdown has-arrow flag-nav nav-item-box">
				<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);"
				   role="button">
					<img src="~/assets/img/flags/us-flag.svg" alt="Language" class="img-fluid">
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="javascript:void(0);" class="dropdown-item">
						<img src="~/assets/img/flags/english.svg" alt="Img" height="16">English
					</a>
					<a href="javascript:void(0);" class="dropdown-item">
						<img src="~/assets/img/flags/arabic.svg" alt="Img" height="16">Arabic
					</a>
				</div>
			</li>
			<!-- /Flag -->

			<li class="nav-item nav-item-box">
				<a href="javascript:void(0);" id="btnFullscreen">
					<i class="ti ti-maximize"></i>
				</a>
			</li>

			<li class="nav-item dropdown has-arrow main-drop profile-nav">
				<a href="javascript:void(0);" class="nav-link userset" data-bs-toggle="dropdown">
					<span class="user-info p-0">
						<span class="user-letter">
							<img src="~/assets/img/profiles/avator1.jpg" alt="Img" class="img-fluid">
						</span>
					</span>
				</a>
				<div class="dropdown-menu menu-drop-user">
					<div class="profileset d-flex align-items-center">
						<span class="user-img me-2">
							<img src="~/assets/img/profiles/avator1.jpg" alt="Img">
						</span>
						<div>
							<h6 class="fw-medium">@User.Identity?.Name</h6>
							<p>Admin</p>
						</div>
					</div>
					<hr class="my-2">
					<form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
						<button type="submit" class="dropdown-item logout pb-0" style="border: none; background: none; width: 100%; text-align: left;">
							<i class="ti ti-logout me-2"></i>Logout
						</button>
					</form>
				</div>
			</li>
		</ul>
		<!-- /Header Menu -->
		<!-- Mobile Menu -->
		<div class="dropdown mobile-user-menu">
			<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
			   aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
			<div class="dropdown-menu dropdown-menu-right">
				<form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
					<button type="submit" class="dropdown-item" style="border: none; background: none; width: 100%; text-align: left;">Logout</button>
				</form>
			</div>
		</div>
		<!-- /Mobile Menu -->
	</div>
</div>
<!-- /Header -->